In [1]:
#install pymongo: python -m pip install pymongo
from pymongo import MongoClient

In [9]:
import pymongo

In [3]:
from pymongo import MongoClient
client = MongoClient(port=27017)
db=client.admin
# We make a test to check the function is active or not by testing with a query
db.list_collection_names()

['goods', 'commercial_ships', 'pirates2', 'system.version']

In [ ]:
#Preparation data:
#When we export the data from php myadmin (mySQL), if we have problem with the type of number,if it is a string, we can import the fich json in MongoClien with dataFrame
#and we can modify or convert str to int for using the numeric queries
#For example, the table goods
#import pandas

#res = db.goods.find()
#df = pandas.DataFrame(list(res))
#change the data type of column "selling_price" of table goods by command: 
#df["selling_price"] = pd.to_numeric(df["selling_price"])

In [4]:
import pprint

In [5]:
#Query 1: List all of distinct surname of pirate
Q1 = db.pirates2.distinct("surname_pirate")
print(Q1)

['0', 'BlackBeard', 'CAPITAIN Jack Sparrow', 'Le Baronnet Noir', 'Mark Read', 'The Assassin', 'The Mad Python', 'The Mighty Woman', 'The Next Pirate King', 'The drunk Pirate']

In [6]:
#Query2: Display full-information of pomegranates
Q2 = db.goods.find({"label_good":"pomegranates"} )
for r in Q2:
    pprint.pprint(r)

{'_id': ObjectId('6086b055b4caec82d420bcb1'),
 'id_commercial_ship': 122,
 'id_good': 20,
 'id_supplier': 139,
 'label_good': 'pomegranates',
 'purchase_price': 51,
 'quantity_goods_transported': 21,
 'selling_price': 81}

In [7]:
#Query 3: Find name of commercial ship that their size is bigger than 70, in this question, we can display the result with only name,
#or we can show full information of this ship
Q3 = db.commercial_ships.find({"size": { "$gt": 70 }})
for r in Q3:
    pprint.pprint(r)

{'_id': ObjectId('6086cdb2b4caec82d420bd15'),
 'haul': 27,
 'id_commercial_ship': 121,
 'id_convoy': 1000,
 'id_crew': 1,
 'size': 89}
{'_id': ObjectId('6086cdb2b4caec82d420bd16'),
 'haul': 32,
 'id_commercial_ship': 122,
 'id_convoy': 1001,
 'id_crew': 2,
 'size': 97}
{'_id': ObjectId('6086cdb2b4caec82d420bd18'),
 'haul': 28,
 'id_commercial_ship': 124,
 'id_convoy': 1003,
 'id_crew': 4,
 'size': 80}
{'_id': ObjectId('6086cdb2b4caec82d420bd19'),
 'haul': 29,
 'id_commercial_ship': 125,
 'id_convoy': 1004,
 'id_crew': 5,
 'size': 91}
{'_id': ObjectId('6086cdb2b4caec82d420bd1a'),
 'haul': 31,
 'id_commercial_ship': 126,
 'id_convoy': 1005,
 'id_crew': 11,
 'size': 72}
{'_id': ObjectId('6086cdb2b4caec82d420bd1b'),
 'haul': 35,
 'id_commercial_ship': 127,
 'id_convoy': 1006,
 'id_crew': 12,
 'size': 91}
{'_id': ObjectId('6086cdb2b4caec82d420bd1c'),
 'haul': 32,
 'id_commercial_ship': 128,
 'id_convoy': 1007,
 'id_crew': 13,
 'size': 85}
{'_id': ObjectId('6086cdb2b4caec82d420bd1d'),
 'haul': 37,
 'id_commercial_ship': 129,
 'id_convoy': 1008,
 'id_crew': 14,
 'size': 79}
{'_id': ObjectId('6086cdb2b4caec82d420bd1e'),
 'haul': 38,
 'id_commercial_ship': 130,
 'id_convoy': 1009,
 'id_crew': 15,
 'size': 91}

In [18]:
# Query 4: Find name of pirate who captured more than 10 ships, display the result by descending
Q4 = db.pirates2.find({"nbr_ship": {"$gt":10 }}, {"_id": 0, "id_pirates": 1, "name_pirate": 1})
Q4_tri = Q4.sort("nbr_ship", pymongo.DESCENDING)
for i in Q4_tri:
    pprint.pprint(i)

{'id_pirates': 1, 'name_pirate': 'Monkey D.Luffy'}
{'id_pirates': 8, 'name_pirate': 'Bartolomew Roberts'}

In [17]:
# Query 5: Find the total produit transported, and averagate selling price of all goods 
Q5 = db.goods.aggregate([{"$group": {"_id": "$id_commercial_ships", "total_produits" : {"$sum": "$quantity_goods_transported"},"price_moyenne":{"$avg": "$selling_price"} }}])
for i in Q5:
    pprint.pprint(i)

{'_id': None, 'price_moyenne': 75.65, 'total_produits': 4961}